@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Adam Neumiller - Assignment #1";

}
    
<!DOCTYPE html>
<!--
    Adam Neumiller
    IS 413- Section 3 - Hilton
    1/15/2021

    Program Description

    The following Programs includes the following elements as assigned in Assignment #1
    Title
    Header that lists your preferred name
    A picture of yourself doing something you enjoy
    A paragraph on what you hope to get out of this IS 413 class
    A list of the Top #3 jobs you are most interested in pursuing when you graduate
    A "Grade Calculator" form that takes as input a percentage of each grade category listed in the syllabus
    An icon for the website (#notcoveredinthevideos)
-->

<body>
    <img src="~/img/SomethingILove.jpg" alt="Doing Something I love"> <br />
    <figcaption>Doing Something that I enjoy: The Beach</figcaption>

    <h2>What I Hope to Learn in IS 413 </h2>
    <p>
        I look forward to all that we will learn in IS 413 including ASP.NET, Core, MVC, and learning to program in C#. I look forward to
        learning the process for building web apps using the ASP.NET framework, the MVC methodology, and implmenenting these programs on
        multiple operating systems using core. It is going to be a great semester.
    </p>
    <br />
    <h2> Top 3 Jobs </h2>
    <ul class="job-props">
        <li>Systems Administrator</li>
        <li>Software Developer</li>
        <li>IT consulting </li>
    </ul>
    <br />
   

</body>


